@import './base.css';

body {
  overflow: hidden;
  background-size: cover;
  user-select: none;
  position: relative;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  
}

.creator {
  font-size: 16px;
  line-height: 16px;
  color: #969799;
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}


.adjust-block {
  color: #969799;
  padding-top: 10px;
  height: 100px
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.running-status {
  color: #969799;
  font-size: 14px;
  display: flex;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.hot-area-check {
  display: flex;
  gap: 8px;
}

.adjust-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
